body {
    margin:10px;
    padding: 2%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color: rgb(203, 202, 207);
    display: block;
    line-height: 1.5em ;
}
       

#img-div {
 background-color: whitesmoke;
padding: 2%; 
}

#image {
 max-width: 100%;
height: auto;

}
#img-caption {
font-style: oblique;
}


.skill {
    margin: 0;
     border-top: 4px solid silver;
    border-bottom: 4px solid silver;
    line-height: 2em;
    font-style: oblique;
    padding: 3%;
}

.art, .dir, .awards {
    line-height: 1,5em;
  text-align: left;
  list-style: none;
}
span {
    font-weight: bolder;
}
.bio {
    font-weight: normal;
    max-width: 60%;
    margin: 5%;
}
div {
    column-count: 2;
}